<h2>Welcome, <%=@user.name%></h2> 
<h2><%=@user.email%></h2> 

<button id="bookings" class="btn btn-primary">Show Bookings</button>
<button id="sort" class="btn btn-primary">Sort Bookings</button>
<button id="newBooking" class="btn btn-primary">New Booking</button>
<hr>
<div id="newBookingDiv"></div>
<div id="bookingsDiv">
   <ul id = "bookingsList">
   </ul>
</div>
